[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
numpy = "*"
pandas = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
plotly-express = "*"
seaborn = "*"
scikit-learn = "*"
category-encoders = "*"
joblib = "*"
psycopg2-binary = "*"
shap = "*"
uvicorn = {extras = ["standard"], version = "*"}
plotly = "*"
click = "*"

[requires]
python_version = "3"

[packages.pandas-profiling]
extras = [ "notebook",]
